{% load static %}

<div class="nav">
    <div id="navbar" class="navbar">
        <div class="d-flex-row navbar-content">
            <a class="d-flex-row" id="poofer-index">Poofer</a>
            <div>
                <ul class="navbar__ul">
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">О нас</a></li>
                    <!-- <li></li> -->
                </ul>
            </div>
        </div>
        <div id="login"><a href="#"><pre>Log in</pre><span class="material-symbols-outlined">account_circle</span></a></div>  
    </div>  
</div>
