{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block main %}
<section>
    <div class="main-content">
        <div class="left-menu">
            <a href="" class="category">1</a>
            <a href="" class="category">2</a>
            <a href="" class="category">3</a>
            <a href="" class="category">4</a>
            <a href="" class="category">5</a>
            <a href="" class="category">6</a>
            <a href="" class="category">7</a>
            <a href="" class="category">8</a>
            <a href="" class="category">9</a>
            <a href="" class="category">10</a>
        </div>
        <div class="cards">
            <div class="card">1</div>
            <div class="card">2</div>
            <div class="card">3</div>
        </div>
    </div>
</section>
{% endblock %}