{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block main %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In possimus voluptas omnis ipsam natus asperiores temporibus deleniti commodi dignissimos. Accusantium ipsam rem reiciendis rerum tempora sed voluptate blanditiis deleniti perspiciatis?
    Qui odio alias, voluptatibus at iste delectus repudiandae illum et iusto dolore nam omnis assumenda nobis rem ab eaque incidunt atque cumque in minus ad, facilis quod provident. Officiis, nisi!
    Eum tempore architecto esse, ad quam inventore doloribus voluptatum eos placeat nesciunt at nostrum fugit voluptas dolores cupiditate officia assumenda velit ab vitae eius perspiciatis asperiores provident optio. Ut, ab.
    Illum numquam inventore necessitatibus distinctio, omnis nulla harum deleniti repellendus ullam qui quos dolorum vero esse ab, aperiam rerum tempore debitis soluta amet! Alias architecto necessitatibus natus est saepe minima!
    Iste, doloribus a. Excepturi, earum. Necessitatibus et ut nemo ad, aliquam eos laboriosam expedita excepturi repudiandae molestias incidunt at dolorum, sint placeat eaque sed eligendi doloribus voluptas. Officiis, deleniti dolorum?
    Id nulla necessitatibus provident magni rerum corrupti delectus assumenda aperiam ducimus veniam. Impedit sequi explicabo similique eius molestiae in ad, et odit omnis unde enim eaque atque provident perferendis officiis!
    Animi incidunt adipisci mollitia eos? A doloribus laudantium dolorum, tempora, quisquam voluptates aliquid sunt error repudiandae porro laborum consequuntur nam vitae iusto nisi, culpa sapiente voluptatibus quae neque cumque quos.
    Asperiores, deleniti sequi! Possimus aut dignissimos iste optio aperiam rem, corporis quod, quo quas quasi nam fugit sint unde similique asperiores! Tenetur mollitia necessitatibus enim neque libero dicta voluptatem quisquam?
    Nam debitis delectus cumque! Repudiandae cumque provident doloremque enim necessitatibus expedita exercitationem dicta dolore nulla earum, non officiis est at, autem voluptatum suscipit sapiente commodi quis. Quisquam consectetur rerum quasi.
    Blanditiis, temporibus molestiae. Officiis nemo ad sapiente culpa deserunt harum quo voluptate minus quidem dolor similique quos unde quod qui aliquid non debitis, doloribus voluptatibus praesentium dignissimos tempora pariatur magni?

{% endblock %}