.footer {
    padding-inline: var(--pad-inner);
    position: relative;
    bottom: 0;
    left: 0;
    background-color: none;
    border-top: 1px dashed black;

    padding: 40px;
}

.footer > p {
    font-size: 32px;
}

.footer__wrapper {
    display: flex;
    font-weight: 600;
    font-size: 16px;
}

.footer__grid {
    --grid-min: 20%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
}

.footer__grid > a {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--black-color);
}

.adresses {
    display: flex;
    flex-wrap: wrap;
    background: #e9e9e9;
    padding: clamp(20px,4vw,32px);
    border-radius: 10px;
    padding-inline: 100px;
}