/* NAVBAR */

.nav {
    display: flex;
    justify-content: center;
    position: relative;
}

#navbar {
    display: flex;
    position: fixed;
    top: 20px;
}

.navbar {
    height: 5vh;
    width: 60%;
    padding: 10px 0px;
    border-radius: 30px 30px;
    background-color: var(--ch-bg);
    border: 1px solid black
}

.navbar-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.d-flex-row {
    display: flex;
    align-items: center;
}

.navbar-content > div {
    display: flex;
    justify-self: center;
    padding-right: 5%;
}

.navbar-content > div > .navbar__ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar__ul > li {
    margin-inline: 15px;
}

li > a {
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
}

#poofer-index {
    align-self: center;
    font-size: 30px;
    color: black;
    padding-left: 5%;
    font-weight: 500;
}

#login {
    padding-left: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 100%;
}

#login > a {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: var(--black-color);
}

#login > * > span {
    font-size: 32px;
    margin-left: 10px;
}


/* ANIMATIONS */

.top {
    animation: top-w 1s linear forwards;
}

.up {
    animation: top-w 1s reverse linear forwards;
}

@keyframes top-w {
    from {
        top: 0px;
    } to {
        top: 20px;
    }
}