@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

:root {
    --text-var: 'Nunito', sans-serif;
    --body-bg: #f8f8f8;
    --footer-bg: #b1a296;
    --pad-inner: 52px;
    --bg-4rd: #f3f3f3;
    --ch-bg: #E9E9E9;
    --black-color: black;
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--body-bg);
    font-family: var(--text-var);
    padding: 0 var(--pad-inner);
}

.startpage {
    padding-top: 5vh;
    padding-bottom: 5vh;
}